DJANGO_SECRET_KEY=your-secret-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_DB_ENGINE=django.db.backends.sqlite3
DJANGO_DB_NAME=db.sqlite3
DJANGO_LOG_DIR=logs
DJANGO_LOG_LEVEL=INFO
DJANGO_BACKEND_LOG_LEVEL=INFO
DJANGO_REQUEST_LOG_LEVEL=WARNING

TELEGRAM_BOT_TOKEN=your-telegram-bot-token
TELEGRAM_BOT_LOG_LEVEL=INFO

OPENAI_API_BASE=your-ai-api-base-url
OPENAI_API_KEY=your-ai-api-key
OPENAI_MODEL_NAME=gpt-4.1
